[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"

[dev-packages]
rich = "*"
pytest = "*"
black = "*"
ipython = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
